<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Film details</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .film-info { display: flex; gap: 20px; }
        .film-info img { max-width: 300px; height: auto; }
        .actors-list { margin-top: 20px; }
        .actor-card { border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; }
        a { color: #007bff; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>
    <h1>{{ film.name_rus }}</h1>
    <div class="film-info">
        {% if film.image_base64 %}
            <img src="{{ film.image_base64 }}" alt="{{ film.name_rus }}">
        {% else %}
            <p>Изображение отсутствует</p>
        {% endif %}
        <div>
            <p><strong>Название (русский):</strong> {{ film.name_rus }}</p>
            <p><strong>Название (английский):</strong> {{ film.name_eng }}</p>
            <p><strong>Название (туркменский):</strong> {{ film.name_tkm }}</p>
            <p><strong>Описание (русский):</strong> {{ film.description_rus }}</p>
            <p><strong>Описание (Анлийский):</strong> {{ film.description_eng }}</p>
            <p><strong>Описание (Туркменский):</strong> {{ film.description_tkm }}</p>
        </div>
    </div>
    <div class="actors-list">
        <h2>Актёры</h2>
        {% for actor in actors %}
            <div class="actor-card">
                {% if actor.image_base64 %}
                    <img src="{{ actor.image_base64 }}" alt="{{ actor.name_rus }}" width="100">
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
                <h3><a href="{% url 'actor_detail' actor.id %}">{{ actor.name_rus }} {{ actor.surname_rus }}</a></h3>
            </div>
        {% empty %}
            <p>Актёры не найдены.</p>
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="actors-list">
        <h2>Сценаристы</h2>
        {% for screenwriter in screenwriters %}
            <div class="actor-card">
                {% if screenwriter.image_base64 %}
                    <img src="{{ screenwriter.image_base64 }}" alt="{{ screenwriter.name_rus }}" width="100">
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
                <h3><a href="{% url 'screenwriter_detail' screenwriter.id %}">{{ screenwriter.name_rus }} {{ screenwriter.surname_rus }}</a></h3>
            </div>
        {% empty %}
            <p>Актёры не найдены.</p>
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="actors-list">
        <h2>Режиссёры</h2>
        {% for director in directors %}
            <div class="actor-card">
                {% if director.image_base64 %}
                    <img src="{{ director.image_base64 }}" alt="{{ director.name_rus }}" width="100">
                {% else %}
                    <p>Изображение отсутствует</p>
                {% endif %}
                <h3><a href="{% url 'director_detail' director.id %}">{{ director.name_rus }} {{ director.surname_rus }}</a></h3>
            </div>
        {% empty %}
            <p>Актёры не найдены.</p>
        {% endfor %}
    </div>
</body>
</html>